on:
  pull_request:
  push:
    branches:
      - main

name: Check and Lint

jobs:

  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:

      - name: Checkout Code
        uses: actions/checkout@v5

      - name: Check formatting
        run: cargo fmt --all --check

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:

      - name: Checkout Code
        uses: actions/checkout@v5

      - name: Linting
        run: cargo clippy

  check:
    name: Check & Test
    needs:
      - fmt
      - clippy
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        build: [linux, macos, windows]
        include:
          - build: linux
            os: ubuntu-latest
          - build: macos
            os: macos-latest
          - build: windows
            os: windows-latest

    steps:

      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Install Build Dependencies (Linux)
        run: |
          sudo apt-get update
          sudo apt-get -y install \
            xorg-dev \
            libxcb-shape0-dev \
            libxcb-xfixes0-dev
        if: matrix.os == 'ubuntu-latest'

      - name: Check
        run: cargo check

      - name: Tests
        run: cargo test
